<div class="sidebar col-md-3 col-sm-1 col-xs-2 no-margin">
    <ul class="nav nav-sidebar left-menu left">
        <li class="" id="navigation-index" style="border-radius: 20px 0px 0px 20px">
            <a href="#" class="active">
                <span class="box span-icons"><img src="~/img/side_navi_icons/dashboard.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Dashboard</span>
            </a>
        </li>
        <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse1">

                <span class="box span-icons"><img src="~/img/side_navi_icons/user_tool.png"></span>
                <span class="hidden-sm hidden-xs span-texts" >User Tools</span>
            </a>
            <div id="collapse1" class="accordion-body collapse inner-nav-main">
                <ul class="nav nav-stacked submenu">
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/attandance.png" ></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Attendance</span>
                            
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/quick_links.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Quick Links</span>
                        </a>
                    </li>
                    <li class="submenu-last">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/send_mail.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Send Email</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse2">
                <span class="box span-icons"><img src="~/img/side_navi_icons/automation.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Automations</span>
            </a>
            <div id="collapse2" class="accordion-body collapse inner-nav-main">
                <ul class="nav nav-stacked submenu">
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/ebay_fetcher.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">eBay Order Fetcher</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/ebay_feedback.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">eBay Feedback</span>
                        </a>
                    </li>
                    <li class="submenu-last">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/ebay_message.png"/></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">eBay Message</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse3">

                <span class="box span-icons"><img src="~/img/side_navi_icons/orders.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Order</span>
            </a>
            <div id="collapse3" class="accordion-body collapse inner-nav-main">
                <ul class="nav nav-stacked submenu">
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/add_order.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Add Order</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/search_order.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Search Order</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/print_order.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Print  Order</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/order_tracking.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Order Tracking</span>
                        </a>
                    </li>
                    <li class="submenu-last">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/waiting_order.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Waiting Orders</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
            <a href="~/Home/Epos">
                <span class="box span-icons"><img src="~/img/side_navi_icons/epos.png"></span>
                <span class="hidden-sm hidden-xs span-texts">EPOS System</span>
            </a>
        </li>
        <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse4">

                <span class="box span-icons"><img src="~/img/side_navi_icons/refund_return.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Refund &amp; Return</span>
            </a>
            <div id="collapse4" class="accordion-body collapse inner-nav-main">
                <ul class="nav nav-stacked submenu">
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/rma.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">RMA Replacements </span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/data_report.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Data Reports</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/refund_queue.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Refund Queue</span>
                        </a>
                    </li>
                    <li class="submenu-last">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/detcted_customers.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Detected Customers</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>

        <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
            <a href="#">
                <span class="box span-icons"><img src="~/img/side_navi_icons/file_manager.png"></span>
                <span class="hidden-sm hidden-xs span-texts">File Manager</span>
            </a>
        </li>
        <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
            <a href="#">
                <span class="box span-icons"><img src="~/img/side_navi_icons/employee.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Employees</span>
            </a>
        </li>
        <li class="accordion" id="navigation-sample-pages" style="border-radius: 20px 0px 0px 20px">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse5">

                <span class="box span-icons"><img src="~/img/side_navi_icons/admin.png" /></span>
                <span class="hidden-sm hidden-xs span-texts">Admin</span>
            </a>
            <div id="collapse5" class="accordion-body collapse inner-nav-main">
                <ul class="nav nav-stacked submenu">
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/admin_menu.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Admin Menu </span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/accounting.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Accounting</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/user_managment.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">User Management</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/attandance.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Attendance Management</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/database_managment.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Data Management</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/log_explorer.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Log Explorer</span>
                        </a>
                    </li>
                    <li class="inner-nav-li">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/courier_service.png" /></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Courier Service</span>
                        </a>
                    </li>
                    <li class="submenu-last">
                        <a href="#">
                            <span class="box span-icons"><img src="~/img/side_navi_sub_icons/manage_location.png"/></span>
                            <span class="hidden-sm hidden-xs span-inner-texts">Manage Locations</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
            <a href="#">
                <span class="box span-icons"><img src="~/img/side_navi_icons/installer.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Installer</span>
            </a>
        </li>
        <li id="navigation-calendar" style="border-radius: 20px 0px 0px 20px">
            <a href="~/Home/Login">
                <span class="box span-icons"><img src="~/img/side_navi_icons/logout.png"></span>
                <span class="hidden-sm hidden-xs span-texts">Logout</span>
            </a>
        </li>
    </ul>
</div>