<nav class="navbar navbar-inverse navbar-static-top">
    <div class="black">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/img/logo/esales_top.png" />
        </div>
    </div>
</nav>