<body>

    @{
        Html.RenderPartial("_PartialTop");
    }
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            @{
                Html.RenderPartial("_PartialSideNavigation");
            }
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Main charts -->
                    
                    <!-- /main charts -->
                    <!-- Dashboard content -->
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="~/Home/Sample">Sample</a>
                            <a href="~/Home/SampleTopNavigation">SampleTopNavigation</a>
                        </div>

                        <div class="col-lg-4">

                        </div>
                    </div>
                    <!-- /dashboard content -->
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
<!-- Mirrored from demo.interface.club/limitless/layout_2/LTR/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Feb 2017 12:15:45 GMT -->
